*{
  margin:0;
  padding:0;
  box-sizing: border box;
}

html{
  background-color:rgb(104, 141, 205);
  color: #555;
  font-family: "Lato", "Verdana";
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
.main-text{
  color: #FFF;
  text-transform:uppercase;
  letter-spacing: 4px;
  margin-bottom: 30px;
}
.new-logo{
  float:left;
  height: 100px;
  width: auto;
  margin-top: 70px;
  margin-left: 50px;
}
.main-nav{
  float:right;
  list-style: none;
  margin-top: 70px;
  font-size: 12px;
}
.main-nav li{
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:visited,
.main-nav li a:link{
  text-decoration: none;
  color: white;
  text-transform:uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}
.main-nav li a:active,
.main-nav li a:hover{
  border-bottom: 2px solid #58c7d2;
  transition: 0.5s;
}
.background{
  color:#fff;
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(15, 15, 15, 0.6)), url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
}
.row{
  width: 720px;
  margin: 0 auto;
}
.back-text{
  position: absolute;
  width: 720px;
  top: 30%;
  border-radius: 30px;
  left: 30%;
}
.btn:link,
.btn:visited{
  color: #FFF;
  border: 1px solid #58c7d2;
  border-radius: 30px;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 30px;
  transition: 0.5s;
}
.btn-full:link,
.btn-full:visited{
  background-color: #58c7d2;
  transition: 0.5s;
}
.btn-full:hover,
.btn-full:active{
  background-color: #46a2ab;
  transition: 0.5s;
}
.btn-ghost:hover,
.btn-ghost:active{
  background-color: #58c7d2;
  color: #FFF;
  transition: 0.5s;
}
.section1{
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(15, 15, 15, 0.6)), url(../img/bg2.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 5%;
}
.quote1{
  padding-left: 35%;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFF;
}
.loreem{
  padding-left: 45%;
  text-transform: uppercase;
  color: #FFF;
}
.para{
  color: #FFF;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card{
  width: 720px;
}
.card-image{
  height: 500px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 10px;
}
.btn1{
  color: #FFF;
  transition: 0.5s;
  border: 1px solid #58c7d2;
  border-radius: 30px;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 30px;
}
footer{
  height: 10vh;
  background-color: #1c1c1c;
  color: #FFF;
}
.footer-dv{
  width: 45%;
  display: inline-block;
  float:left;
}
.ft1{
  padding: 20px;
  font-size: 50%;
}
.ft2{
  padding: 20px;
  font-size: 50%;
  float: right;
}
